<div class="container">
  <div class="row text-center">
    <div class="mx-auto col-11 my-5">
      <h1 class="title"><strong>SHARE AID</strong></h1>
      <div class = "text-center my-3">
        <%= image_tag "top.png", size: "450x400" %>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="row justify-content-center">
        <div class="col-4 border border-secondary">
          <h2 class="h5 m-5"><b>自治体</b>の方はこちら</h2>
            <%= link_to "ログイン", new_local_government_session_path, class: "btn btn-info btn-block my-5" %>
            <%= link_to "新規登録", new_local_government_registration_path, class: "btn btn-success btn-block mb-5" %>
        </div>
        <div class="col-4 offset-1 border border-secondary">
          <h2 class="h5 m-5"><b>ボランティア</b>の方はこちら</h2>
            <%= link_to "ログイン", new_volunteer_session_path, class: "btn btn-info btn-block my-5" %>
            <%= link_to "新規登録", new_volunteer_registration_path, class: "btn btn-success btn-block mb-5" %>
        </div>
      </div>
    </div>
  </div>
</div>