<div class="container">

<%= form_with model: @volunteer, url: volunteer_volunteer_path(@volunteer), method: :patch do |f| %>

  <div class="row my-5">
    <div class="mx-auto">
      <h3><b>会員情報</b></h3>
    </div>
  </div>
  
  <% if @volunteer.errors.any? %>
    <div class="row">
      <div class="col-2"></div>
      <div class="col-8 text-center">
        <font size="10px"><%= @volunteer.errors.count %>件のエラーが発生しました</font>
        <ul>
          <% @volunteer.errors.full_messages.each do |message| %>
            <li class="text-left"><%= message %></li>
          <% end %>
        </ul>
      </div>
      <div class="col-2"></div>
    </div>
  <% end %>

  <div class="row">
    <div class="col-5 text-right">
      <%= f.label :name, "氏名" %>
    </div>
    <div class="col-7">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-5 text-right">
      <%= f.label :email, "メールアドレス" %>
    </div>
    <div class="col-7">
      <%= f.text_field :email %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-5 text-right">
      <%= f.label :phone_number, "電話番号" %>
    </div>
    <div class="col-7">
      <%= f.text_field :phone_number %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-5 text-right">
      <%= f.label :post_code, "郵便番号" %>
    </div>
    <div class="col-7">
      <%= f.text_field :post_code %>
    </div>
  </div>

  <div class="row mt-2">
    <div class="col-5 text-right">
      <%= f.label :address, "住所" %>
    </div>
    <div class="col-7">
      <%= f.text_field :address %>
    </div>
  </div>
  
  <div class="row mt-5">
    <div class="col-12 text-center">
      <p>
        <strong>
          変更内容を保存するには、パスワードの入力が必要です。
        </strong>
      </p>
    </div>
  </div>
  
  <div class="row mt-2">
    <div class="col-5 text-right">
      <%= f.label :password, "パスワード" %>
    </div>
    <div class="col-7">
      <%= f.text_field :password %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-5 text-right"></div>
    <div class="col-7">
      <%= f.submit "更新", class: "btn btn-volunteer" %>
    </div>
  </div>

  <% end %>

</div>