<div class="container">
  <div class="row my-5">
    <div class="mx-auto">
      <h3><strong>不足一覧</strong></h3>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-auto">
      <%= form_with model: @reservation_item, url: volunteer_reservations_path, method: :post, local: true do |f| %>
        <table class="table table-striped">
          <thead>
            <tr>
              <th class="text-center">商品名</th>
              <th class="text-center">備考</th>
              <th class="text-center">必要数</th>
              <th class="text-center" style="width: 10%">提供数</th>
            </tr>
          </thead>
          <tbody>
            <% @stocks.each do |stock| %>
            <tr>
              <td class="text-center w-20"><%= stock.name %></td>
              <td class="text-center w-20"><%= stock.memo %></td>
              <td class="text-center w-20"><%= @local_government.population * stock.one_daily_quantity - stock.amount %></td>
              <td class="text-center w-20">
                <%#= f.number_field "stocks[#{stock.id}][quantity]", min: 0, class: 'form-control' %>
                <%#= f.hidden_field "stocks[#{stock.id}][id]", value: stock.id %>
                <%= f.number_field :stock_id %>
                <%= f.number_field :amount %>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
        <div class="row my-3 justify-content-center">
          <div class="col-auto">
            <%= f.submit '次へ', class: 'btn btn-volunteer' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>