<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h3><b>在庫登録</b></h3>
    </div>
  </div>
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10 text-center">
      <%= form_with model: @stock, url: local_government_stocks_path, method: :post do |f| %>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <b><%= f.label "品名" %></b>
          </div>
          <div class="col-12 col-md-8">
            <%= f.text_field :name, autofocus: true, placeholder: "1~20文字以内", size:50 %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <b><%= f.label "在庫数" %></b>
          </div>
          <div class="col-12 col-md-8">
            <%= f.text_field :amount, size: 50 %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <b><%= f.label "一人当たりの必要数/日" %></b>
          </div>
          <div class="col-12 col-md-8">
            <%= f.text_field :one_daily_quantity, placeholder: "1日の一人当たりの必要数を入力してください", size: 50 %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12 col-md-4">
            <b><%= f.label "使用期限" %></b>
          </div>
          <div class="col-12 col-md-8">
            <%= f.date_field :deadline, class: 'custom-date-field' %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12 col-md-4 my-md-5">
            <b><%= f.label "備考" %></b>
          </div>
          <div class="col-12 col-md-8">
            <%= f.text_area :memo, placeholder: "200文字以内", size: "50x5" %>
          </div>
        </div>
        <div class="row my-3">
          <div class="col-12">
            <%= f.submit "登録", class: "btn btn-outline-success custom-btn-size" %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="col-1"></div>
  </div>
</div>
