<div class="container">

  <div class="row my-4">
    <div class="mx-auto">
      <h2>ログイン</h2>
    </div>
  </div>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="row">
    <div class="mx-auto">

      <div class="field">
        <%= f.text_field :name, :placeholder => "お名前", size: "40" %>
      </div>

      <div class="field mt-3">
        <%= f.password_field :password, :placeholder => "パスワード", size: "40" %>
      </div>

      <div class="action mt-4">
        <div class="col">
          <div class="row">
            <div class="mx-auto">
              <%= f.submit "ログイン" %>
            </div>
          </div>
        </div>
      </div>

      <div class="row mt-2">
        <div class="mx-auto">
          <%= render "volunteer/shared/links" %>
        </div>
      </div>

    </div>
  </div>
  <% end %>
</div>